<style>
  strong {
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity, 1));
    font-weight: 500;
  }
</style>

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">whoami</h2>
  <hr class="mb-4 border-zinc-600" />
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    👋 Hi, I’m <strong>Zihan Jin</strong>, a <strong>Software Developer</strong>
    specializing in <strong>healthcare software</strong> and <strong
      >data integration</strong
    >. I build <strong>scalable web applications</strong> and develop solutions that
    connect <strong>on-premises healthcare</strong> systems with <strong
      >cloud infrastructure</strong
    >. Currently, I work on <strong>aggregating</strong> and <strong
      >analysing distributed pharmacy data</strong
    > via a <strong>centralised cloud storage solution</strong>.
  </p>

  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">
    Strong foundation in <strong>API development</strong>, <strong
      >system architecture</strong
    >, and <strong>DevOps practices</strong>. Enthusiastic about <strong
      >automation</strong
    >,
    <strong>healthtech</strong>, and creating efficient <strong
      >software solutions</strong
    >. Let’s build something great together! 🚀
  </p>
</section>
