---
import IconContainer from "@components/IconContainer.astro";
import Css from "@assets/icons/css.astro";
import Javascript from "@assets/icons/javascript.astro";
import React from "@assets/icons/react.astro";
import Html from "@assets/icons/html.astro";
import Tailwind from "@assets/icons/tailwind.astro";
import AstroIcon from "@assets/icons/astro.astro";
import Node from "@assets/icons/node.astro";
import Postgresql from "@assets/icons/postgresql.astro";
import Bash from "@assets/icons/bash.astro";
import Git from "@assets/icons/git.astro";
import Github from "@assets/icons/github.astro";
import Golang from "@assets/icons/golang.astro";
import Dotnet from "@assets/icons/dotnet.astro";
import Docker from "@assets/icons/docker.astro";
import Caddy from "@assets/icons/caddy.astro";
import Grafana from "@assets/icons/grafana.astro";
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Technologies</h2>
  <hr class="mb-6 border-zinc-600" />

  <h3 class="text-xl font-medium mt-6 mb-4">Backend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Go">
      <Golang size="size-9" />
    </IconContainer>
    <IconContainer name="Dotnet">
      <Dotnet size="size-9" />
    </IconContainer>
    <IconContainer name="Node">
      <Node size="size-9" />
    </IconContainer>
    <IconContainer name="PostgreSQL">
      <Postgresql size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mt-6 mb-4">Tools</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="Docker">
      <Docker size="size-9" />
    </IconContainer>
    <IconContainer name="Bash">
      <Bash size="size-9" />
    </IconContainer>
    <IconContainer name="Caddy">
      <Caddy size="size-9" />
    </IconContainer>
    <IconContainer name="Grafana">
      <Grafana size="size-9" />
    </IconContainer>

    <IconContainer name="Git">
      <Git size="size-9" />
    </IconContainer>
    <IconContainer name="Github">
      <Github size="size-9" />
    </IconContainer>
  </div>

  <h3 class="text-xl font-medium mb-4 siz">Frontend</h3>
  <div class="flex flex-wrap gap-5">
    <IconContainer name="HTML">
      <Html size="size-9" />
    </IconContainer>
    <IconContainer name="CSS">
      <Css size="size-9" />
    </IconContainer>
    <IconContainer name="Javascript">
      <Javascript size="size-9" />
    </IconContainer>
    <IconContainer name="React">
      <React size="size-9" />
    </IconContainer>
    <IconContainer name="Tailwind">
      <Tailwind size="size-9" />
    </IconContainer>
    <IconContainer name="Astro">
      <AstroIcon size="size-9" />
    </IconContainer>
  </div>
</section>

